body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}
/* 全体のスタイルをリセット */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* 画面全体にフィットさせるためのスタイル */
#experiment-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 十字の中央表示 */
#fixation-cross {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: none;
}

/* 動画を中央に配置 */
#stimulus-video {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
    max-height: 80vh;
}

#instruction-screen {
    color: white;
}
#main-instruction-screen {
    color: white;
}
#start-screen {
    color: white;
}
